*{
    padding: 0;
    margin: 0;
}

#title{
    text-align: center;
    background: blue;
}

.Maingame{
    display: flex;
    justify-content: space-between;
}

.userinput {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button{
    display: flex;
    justify-content: center;
}

#submit{
    display: flex;
    justify-content: center;
}

button{
    width: 100px;
}